<footer>
  <hr />
  <div class="f-info">
    <div class="f-info-socials">
      <a target="_blank" href="https://www.facebook.com/tanmay.gangwar.716"
        ><i class="fa-brands fa-square-facebook fa-lg"></i
      ></a>
      <a target="_blank" href="https://www.instagram.com/gangwar__tanmay/"
        ><i class="fa-brands fa-instagram fa-lg"></i
      ></a>
      <a target="_blank" href="https://www.linkedin.com/in/tanmay-gangwar-27a123245/"
        ><i class="fa-brands fa-linkedin fa-lg"></i
      ></a>
    </div>
    <div>&copy;Travel Mania Pvt. ltd.</div>
    <div class="f-info-links">
      <a href="">Privacy</a>
      <a href="">Terms and conditions</a>
    </div>
  </div>
</footer>
