<%layout("/layouts/boilerplate")%>
<!-- <div class="row mt-3">
  <div class="alert alert-danger col-6 offset-3" role="alert"><%=message%></div>
</div> -->

<div class="row mt-3">
  <div class="col left">
    <iframe
      src="https://lottie.host/embed/f529d4c2-86a6-427e-83d9-082120df5486/yzdxjSX9Qh.json"
    ></iframe>
  </div>
  <div class="col right">
    <h4>OOPS error occurred :</h4>
    <h3><%=message%></h3>
    <br>
    <h5>Error Code : <%=status%></h5>
  </div>
</div>
