<% layout("/layouts/boilerplate")%>
<body>
  <div class="col mt-3">
    <div class="col-lg-6 col-sm-12 col-md-12" style="margin: 0px auto;">
      <h3>Create New Account</h3>
      <form
        class="needs-validation"
        method="post"
        action="/user/signUp"
        novalidate
      >
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
          <div class="invalid-feedback">Enter username!</div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
          <div class="invalid-feedback">Enter email!</div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
          <div class="invalid-feedback">Enter password!</div>
        </div>

        <div class="mb-3" id="password-visibility-div">
          <input
            class="form-check-input"
            type="checkbox"
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Show Password
          </label>
        </div>

        <div class="log">
          Already have an account?
          <form action="user/signIn" method="get">
            <button class="login" style="border: none; background: transparent;color: blue;">
              Sign In
            </button>
          </form>
        </div>
        <button class="btn btn-outline-primary">Sign Up</button>
      </form>
    </div>
  </div>
</body>
